In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
mydb = mysql.connector.connect(
  host="34.95.170.227",
  port="3306",
  user="teste-dados-leitura",
  passwd="o7c4Cc8NDeXYbAMH",
  database="teste_dados",
)

mydb.set_charset_collation('latin1', 'latin1_general_ci')

In [3]:
query = "Select * from DADOS_COVID;"
dadosCovid = pd.read_sql(query,mydb)

C:\Users\HomeTiger\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
dadosCovid

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401,2020-03-17,202012,413418,407319,False,False,3,0.72566,2020-03-17,0.0000,0,1,city,AC,3,0
1,,12,2020-03-17,202012,894470,881935,False,False,3,0.33539,2020-03-17,0.0000,0,1,state,AC,3,0
2,Rio Branco,1200401,2020-03-18,202012,413418,407319,False,False,3,0.72566,2020-03-18,0.0000,0,2,city,AC,0,0
3,,12,2020-03-18,202012,894470,881935,False,False,3,0.33539,2020-03-18,0.0000,0,2,state,AC,0,0
4,Rio Branco,1200401,2020-03-19,202012,413418,407319,False,False,4,0.96754,2020-03-19,0.0000,0,3,city,AC,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13283,Porto Real do ColÃ©gio,2707503,2020-03-31,202014,20112,20066,False,False,1,4.97216,2020-03-31,0.0000,0,7,city,AL,0,0
13284,,27,2020-03-31,202014,3351543,3337357,False,False,18,0.53707,2020-03-31,0.0556,1,24,state,AL,1,1
13285,MaceiÃ³,2704302,2020-04-01,202014,1025360,1018948,False,False,13,1.26785,2020-04-01,0.0769,1,25,city,AL,0,0
13286,Porto Real do ColÃ©gio,2707503,2020-04-01,202014,20112,20066,False,False,1,4.97216,2020-04-01,0.0000,0,8,city,AL,0,0
13287,,27,2020-04-01,202014,3351543,3337357,False,False,18,0.53707,2020-04-01,0.0556,1,25,state,AL,0,0

In [5]:
dadosCovid.describe()

,city_ibge_code,epidemiological_week,estimated_population,estimated_population_2019,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_death_rate,last_available_deaths,order_for_place,new_confirmed,new_deaths
count,1.328800e+04,13288.000000,1.328800e+04,1.328800e+04,13288.000000,13288.000000,13288.000000,13288.000000,13288.000000,13288.000000,13288.000000
mean,1.146185e+06,202084.799293,8.968999e+04,8.851024e+04,4563.907059,6069.824103,0.016119,93.437462,289.129440,13.262492,0.277845
std,2.686966e+05,45.586320,2.467122e+05,2.441158e+05,13167.798666,4674.921902,0.012339,285.995631,167.275765,48.226839,1.182210
min,1.200000e+01,202011.000000,6.717000e+03,6.540000e+03,1.000000,0.029840,0.000000,0.000000,1.000000,-35.000000,-1.000000
25%,1.200179e+06,202038.000000,1.200800e+04,1.173300e+04,403.000000,2605.996240,0.008000,6.000000,144.000000,0.000000,0.000000
50%,1.200344e+06,202106.000000,1.931100e+04,1.893000e+04,1008.000000,5041.913805,0.014500,14.000000,289.000000,0.000000,0.000000
75%,1.200435e+06,202126.000000,3.488400e+04,3.478000e+04,2204.750000,8950.137810,0.022200,33.000000,433.000000,5.000000,0.000000
max,2.707503e+06,202147.000000,3.351543e+06,3.337357e+06,88139.000000,24276.612690,0.500000,1845.000000,616.000000,863.000000,18.000000

In [6]:
dadosCovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13288 entries, 0 to 13287
Data columns (total 18 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   city                                           13288 non-null  object
 1   city_ibge_code                                 13288 non-null  int64
 2   date                                           13288 non-null  object
 3   epidemiological_week                           13288 non-null  int64
 4   estimated_population                           13288 non-null  int64
 5   estimated_population_2019                      13288 non-null  int64
 6   is_last                                        13288 non-null  object
 7   is_repeated                                    13288 non-null  object
 8   last_available_confirmed                       13288 non-null  int64
 9   last_available_confirmed_per_100k_inhabitants  13288 non-null  float64
 10  last_available_date                            13288 non-null  object
 11  last_available_death_rate                      13288 non-null  float64
 12  last_available_deaths                          13288 non-null  int64
 13  order_for_place                                13288 non-null  int64
 14  place_type                                     13288 non-null  object
 15  state                                          13288 non-null  object
 16  new_confirmed                                  13288 non-null  int64
 17  new_deaths                                     13288 non-null  int64
dtypes: float64(2), int64(9), object(7)
memory usage: 1.8+ MB

### Municípios brasileiros da base da receita federal para pegar com o nome correto

####
https://www.gov.br/receitafederal/dados/municipios.csv

In [7]:
cidadesBrasil = pd.read_csv('municipios.csv',encoding='latin1', delimiter=';')

In [8]:
cidadesBrasil

,CÓDIGO DO MUNICÍPIO - TOM,CÓDIGO DO MUNICÍPIO - IBGE,MUNICÍPIO - TOM,MUNICÍPIO - IBGE,UF
0,1,1100106,GUAJARÁ-MIRIM,Guajará-Mirim,RO
1,2,1100379,ALTO ALEGRE DOS PARECIS,Alto Alegre dos Parecis,RO
2,3,1100205,PORTO VELHO,Porto Velho,RO
3,4,1100452,BURITIS,Buritis,RO
4,5,1100122,JI-PARANÁ,Ji-Paraná,RO
...,...,...,...,...,...
5566,9989,4217550,SERRA ALTA,Serra Alta,SC
5567,9991,4218756,TUNÁPOLIS,Tunápolis,SC
5568,9993,5209457,GUARINOS,Guarinos,GO
5569,9995,5218789,RIO QUENTE,Rio Quente,GO
5570,9997,5003157,CORONEL SAPUCAIA,NaN,MS

In [9]:
cidadesBrasil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CÓDIGO DO MUNICÍPIO - TOM   5571 non-null   int64
 1   CÓDIGO DO MUNICÍPIO - IBGE  5571 non-null   int64
 2   MUNICÍPIO - TOM             5571 non-null   object
 3   MUNICÍPIO - IBGE            5569 non-null   object
 4   UF                          5571 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

### Criando dimensão município

In [10]:
cidadesBrasil = cidadesBrasil.drop(columns=['CÓDIGO DO MUNICÍPIO - TOM','MUNICÍPIO - IBGE', 'UF' ])

In [11]:
cidadesBrasil

      CÓDIGO DO MUNICÍPIO - IBGE          MUNICÍPIO - TOM
0                        1100106            GUAJARÁ-MIRIM
1                        1100379  ALTO ALEGRE DOS PARECIS
2                        1100205              PORTO VELHO
3                        1100452                  BURITIS
4                        1100122                JI-PARANÁ
...                          ...                      ...
5566                     4217550               SERRA ALTA
5567                     4218756                TUNÁPOLIS
5568                     5209457                 GUARINOS
5569                     5218789               RIO QUENTE
5570                     5003157         CORONEL SAPUCAIA

[5571 rows x 2 columns]

In [12]:
cidadesBrasil = cidadesBrasil.rename(columns={'CÓDIGO DO MUNICÍPIO - IBGE':'city_ibge_code'})

In [13]:
cidadesBrasil = cidadesBrasil.rename(columns={'MUNICÍPIO - TOM':'municipio'})

In [14]:
dadosCovid = pd.merge(dadosCovid, cidadesBrasil, on="city_ibge_code")

In [15]:
dadosCovid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12647 entries, 0 to 12646
Data columns (total 19 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   city                                           12647 non-null  object
 1   city_ibge_code                                 12647 non-null  int64
 2   date                                           12647 non-null  object
 3   epidemiological_week                           12647 non-null  int64
 4   estimated_population                           12647 non-null  int64
 5   estimated_population_2019                      12647 non-null  int64
 6   is_last                                        12647 non-null  object
 7   is_repeated                                    12647 non-null  object
 8   last_available_confirmed                       12647 non-null  int64
 9   last_available_confirmed_per_100k_inhabitants  12647 non-null  float64
 10  last_available_date                            12647 non-null  object
 11  last_available_death_rate                      12647 non-null  float64
 12  last_available_deaths                          12647 non-null  int64
 13  order_for_place                                12647 non-null  int64
 14  place_type                                     12647 non-null  object
 15  state                                          12647 non-null  object
 16  new_confirmed                                  12647 non-null  int64
 17  new_deaths                                     12647 non-null  int64
 18  municipio                                      12647 non-null  object
dtypes: float64(2), int64(9), object(8)
memory usage: 1.9+ MB

In [16]:
municipios= pd.DataFrame(dadosCovid['city_ibge_code'].unique(),columns=['city_ibge_code'])

In [17]:
municipios

    city_ibge_code
0          1200401
1          1200013
2          1200807
3          1200385
4          1200138
5          1200203
6          1200450
7          1200336
8          1200708
9          1200054
10         1200302
11         1200609
12         1200500
13         1200252
14         1200179
15         1200435
16         1200104
17         1200351
18         1200427
19         1200344
20         1200393
21         1200328
22         2704302
23         2707503

In [18]:
query = "Select distinct city_ibge_code, city from DADOS_COVID where place_type = 'city';"
municipios_covid = pd.read_sql(query,mydb)

C:\Users\HomeTiger\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
municipios_covid

    city_ibge_code                    city
0          1200401              Rio Branco
1          1200013             AcrelÃ¢ndia
2          1200807              Porto Acre
3          1200385      PlÃ¡cido de Castro
4          1200138                  Bujari
5          1200203         Cruzeiro do Sul
6          1200450        Senador Guiomard
7          1200336            MÃ¢ncio Lima
8          1200708                  Xapuri
9          1200054            Assis Brasil
10         1200302                  FeijÃ³
11         1200609               TarauacÃ¡
12         1200500          Sena Madureira
13         1200252         EpitaciolÃ¢ndia
14         1200179                Capixaba
15         1200435     Santa Rosa do Purus
16         1200104              BrasilÃ©ia
17         1200351    Marechal Thaumaturgo
18         1200427         Rodrigues Alves
19         1200344           Manoel Urbano
20         1200393            Porto Walter
21         1200328                 JordÃ£o
22         2704302                 MaceiÃ³
23         2707503  Porto Real do ColÃ©gio

In [20]:
dimensao_municipios_covid = pd.merge(municipios_covid,cidadesBrasil, on='city_ibge_code')

In [21]:
dimensao_municipios_covid = dimensao_municipios_covid.drop(columns='city')


dimensao_municipios_covid

    city_ibge_code              municipio
0          1200401             RIO BRANCO
1          1200013             ACRELÂNDIA
2          1200807             PORTO ACRE
3          1200385      PLÁCIDO DE CASTRO
4          1200138                 BUJARI
5          1200203        CRUZEIRO DO SUL
6          1200450       SENADOR GUIOMARD
7          1200336            MÂNCIO LIMA
8          1200708                 XAPURI
9          1200054           ASSIS BRASIL
10         1200302                  FEIJÓ
11         1200609               TARAUACÁ
12         1200500         SENA MADUREIRA
13         1200252         EPITACIOLÂNDIA
14         1200179               CAPIXABA
15         1200435    SANTA ROSA DO PURUS
16         1200104              BRASILÉIA
17         1200351   MARECHAL THAUMATURGO
18         1200427        RODRIGUES ALVES
19         1200344          MANOEL URBANO
20         1200393           PORTO WALTER
21         1200328                 JORDÃO
22         2704302                 MACEIÓ
23         2707503  PORTO REAL DO COLÉGIO

### Criação dimensão UF

In [22]:
query = "Select distinct city_ibge_code, state from DADOS_COVID where place_type = 'state';"
uf_covid = pd.read_sql(query,mydb)
mydb.close() #close the connection
uf_covid

C:\Users\HomeTiger\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   city_ibge_code state
0              12    AC
1              27    AL

In [23]:
dimensao_uf_covid = uf_covid.rename(columns={'city_ibge_code' : 'state_ibge_code','state': 'estado'})

dimensao_uf_covid.to_csv('dim_uf_covid.csv', index=False)

### Criação da fato casos

In [24]:
dadosCovid

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths,municipio
0,Rio Branco,1200401,2020-03-17,202012,413418,407319,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0,RIO BRANCO
1,Rio Branco,1200401,2020-03-18,202012,413418,407319,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0,RIO BRANCO
2,Rio Branco,1200401,2020-03-19,202012,413418,407319,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0,RIO BRANCO
3,Rio Branco,1200401,2020-03-20,202012,413418,407319,False,False,7,1.69320,2020-03-20,0.0,0,4,city,AC,3,0,RIO BRANCO
4,Rio Branco,1200401,2020-03-21,202012,413418,407319,False,False,11,2.66075,2020-03-21,0.0,0,5,city,AC,4,0,RIO BRANCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12642,Porto Real do ColÃ©gio,2707503,2020-03-28,202013,20112,20066,False,False,1,4.97216,2020-03-28,0.0,0,4,city,AL,0,0,PORTO REAL DO COLÉGIO
12643,Porto Real do ColÃ©gio,2707503,2020-03-29,202014,20112,20066,False,False,1,4.97216,2020-03-29,0.0,0,5,city,AL,0,0,PORTO REAL DO COLÉGIO
12644,Porto Real do ColÃ©gio,2707503,2020-03-30,202014,20112,20066,False,False,1,4.97216,2020-03-30,0.0,0,6,city,AL,0,0,PORTO REAL DO COLÉGIO
12645,Porto Real do ColÃ©gio,2707503,2020-03-31,202014,20112,20066,False,False,1,4.97216,2020-03-31,0.0,0,7,city,AL,0,0,PORTO REAL DO COLÉGIO
12646,Porto Real do ColÃ©gio,2707503,2020-04-01,202014,20112,20066,False,False,1,4.97216,2020-04-01,0.0,0,8,city,AL,0,0,PORTO REAL DO COLÉGIO

In [25]:
dadosCovid['date'] = pd.to_datetime(dadosCovid['date'])

dadosCovid

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths,municipio
0,Rio Branco,1200401,2020-03-17,202012,413418,407319,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0,RIO BRANCO
1,Rio Branco,1200401,2020-03-18,202012,413418,407319,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0,RIO BRANCO
2,Rio Branco,1200401,2020-03-19,202012,413418,407319,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0,RIO BRANCO
3,Rio Branco,1200401,2020-03-20,202012,413418,407319,False,False,7,1.69320,2020-03-20,0.0,0,4,city,AC,3,0,RIO BRANCO
4,Rio Branco,1200401,2020-03-21,202012,413418,407319,False,False,11,2.66075,2020-03-21,0.0,0,5,city,AC,4,0,RIO BRANCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12642,Porto Real do ColÃ©gio,2707503,2020-03-28,202013,20112,20066,False,False,1,4.97216,2020-03-28,0.0,0,4,city,AL,0,0,PORTO REAL DO COLÉGIO
12643,Porto Real do ColÃ©gio,2707503,2020-03-29,202014,20112,20066,False,False,1,4.97216,2020-03-29,0.0,0,5,city,AL,0,0,PORTO REAL DO COLÉGIO
12644,Porto Real do ColÃ©gio,2707503,2020-03-30,202014,20112,20066,False,False,1,4.97216,2020-03-30,0.0,0,6,city,AL,0,0,PORTO REAL DO COLÉGIO
12645,Porto Real do ColÃ©gio,2707503,2020-03-31,202014,20112,20066,False,False,1,4.97216,2020-03-31,0.0,0,7,city,AL,0,0,PORTO REAL DO COLÉGIO
12646,Porto Real do ColÃ©gio,2707503,2020-04-01,202014,20112,20066,False,False,1,4.97216,2020-04-01,0.0,0,8,city,AL,0,0,PORTO REAL DO COLÉGIO

In [26]:
dadosCovid['state_ibge_code'] =  dadosCovid['city_ibge_code']/100000

dadosCovid['state_ibge_code'] = dadosCovid['state_ibge_code'].astype(int)

dadosCovid

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths,municipio,state_ibge_code
0,Rio Branco,1200401,2020-03-17,202012,413418,407319,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0,RIO BRANCO,12
1,Rio Branco,1200401,2020-03-18,202012,413418,407319,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0,RIO BRANCO,12
2,Rio Branco,1200401,2020-03-19,202012,413418,407319,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0,RIO BRANCO,12
3,Rio Branco,1200401,2020-03-20,202012,413418,407319,False,False,7,1.69320,2020-03-20,0.0,0,4,city,AC,3,0,RIO BRANCO,12
4,Rio Branco,1200401,2020-03-21,202012,413418,407319,False,False,11,2.66075,2020-03-21,0.0,0,5,city,AC,4,0,RIO BRANCO,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12642,Porto Real do ColÃ©gio,2707503,2020-03-28,202013,20112,20066,False,False,1,4.97216,2020-03-28,0.0,0,4,city,AL,0,0,PORTO REAL DO COLÉGIO,27
12643,Porto Real do ColÃ©gio,2707503,2020-03-29,202014,20112,20066,False,False,1,4.97216,2020-03-29,0.0,0,5,city,AL,0,0,PORTO REAL DO COLÉGIO,27
12644,Porto Real do ColÃ©gio,2707503,2020-03-30,202014,20112,20066,False,False,1,4.97216,2020-03-30,0.0,0,6,city,AL,0,0,PORTO REAL DO COLÉGIO,27
12645,Porto Real do ColÃ©gio,2707503,2020-03-31,202014,20112,20066,False,False,1,4.97216,2020-03-31,0.0,0,7,city,AL,0,0,PORTO REAL DO COLÉGIO,27
12646,Porto Real do ColÃ©gio,2707503,2020-04-01,202014,20112,20066,False,False,1,4.97216,2020-04-01,0.0,0,8,city,AL,0,0,PORTO REAL DO COLÉGIO,27

In [27]:
fato_dados_covid = dadosCovid.drop(columns=['city','municipio','state','place_type','epidemiological_week',
                                                      'estimated_population','is_last','is_repeated',
                                                      'last_available_confirmed','last_available_confirmed_per_100k_inhabitants',
                                                      'last_available_date','last_available_death_rate','order_for_place',
                                                      'state'])

In [28]:
fato_dados_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12647 entries, 0 to 12646
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   city_ibge_code             12647 non-null  int64
 1   date                       12647 non-null  datetime64[ns]
 2   estimated_population_2019  12647 non-null  int64
 3   last_available_deaths      12647 non-null  int64
 4   new_confirmed              12647 non-null  int64
 5   new_deaths                 12647 non-null  int64
 6   state_ibge_code            12647 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(5)
memory usage: 741.0 KB

In [29]:
fato_dados_covid = fato_dados_covid.reset_index()

fato_dados_covid

,index,city_ibge_code,date,estimated_population_2019,last_available_deaths,new_confirmed,new_deaths,state_ibge_code
0,0,1200401,2020-03-17,407319,0,3,0,12
1,1,1200401,2020-03-18,407319,0,0,0,12
2,2,1200401,2020-03-19,407319,0,1,0,12
3,3,1200401,2020-03-20,407319,0,3,0,12
4,4,1200401,2020-03-21,407319,0,4,0,12
...,...,...,...,...,...,...,...,...
12642,12642,2707503,2020-03-28,20066,0,0,0,27
12643,12643,2707503,2020-03-29,20066,0,0,0,27
12644,12644,2707503,2020-03-30,20066,0,0,0,27
12645,12645,2707503,2020-03-31,20066,0,0,0,27
12646,12646,2707503,2020-04-01,20066,0,0,0,27

In [30]:
 fato_dados_covid['index'] = fato_dados_covid['index']+1

In [31]:
fato_dados_covid = fato_dados_covid.rename(columns={'index' : 'id'})

fato_dados_covid

,id,city_ibge_code,date,estimated_population_2019,last_available_deaths,new_confirmed,new_deaths,state_ibge_code
0,1,1200401,2020-03-17,407319,0,3,0,12
1,2,1200401,2020-03-18,407319,0,0,0,12
2,3,1200401,2020-03-19,407319,0,1,0,12
3,4,1200401,2020-03-20,407319,0,3,0,12
4,5,1200401,2020-03-21,407319,0,4,0,12
...,...,...,...,...,...,...,...,...
12642,12643,2707503,2020-03-28,20066,0,0,0,27
12643,12644,2707503,2020-03-29,20066,0,0,0,27
12644,12645,2707503,2020-03-30,20066,0,0,0,27
12645,12646,2707503,2020-03-31,20066,0,0,0,27
12646,12647,2707503,2020-04-01,20066,0,0,0,27

In [32]:
fato_dados_covid.to_csv('fato_dados_covid.csv', index=False)